<div class="autorizacion-datos-personales bloque">
    <label>Autorizo la <strong>incorporación de datos personales</strong> de mi hijo, hija al fichero de datos de la biblioteca escolar del IES José Planes para la gestión de préstamos de ejemplares bibliográficos. Los derechos que mantiene sobre esos datos se recogen en el Título III de la Ley Orgánica 3/2018, de 5 de diciembre.</label>
    <div class="checkbox" style="display: flex;">  
        <input id="autorizacionDatosPersonales" type="checkbox" name="autorizarDatosPersonales" role="switch" value="on">
        <label for="autorizacionDatosPersonales" required>AUTORIZO</label>
    </div>
</div>
    