<div class="autorizacion-datos-personales bloque">
    <div class="autorizacion-datos-personales__checkbox checkbox">  
        <input id="autorizacionDatosPersonales" type="checkbox" name="autorizarDatosPersonales" role="switch" value="on">
        <label for="autorizacionDatosPersonales" required>Autorizo la incorporación de datos personales de mi hijo, hija al fichero de datos de la biblioteca escolar del IES José Planes para la gestión de préstamos de ejemplares bibliográficos. Los derechos que mantiene sobre esos datos se recogen en el Título III de la Ley Orgánica 3/2018, de 5 de diciembre.</label>
    </div>
</div>
    