<div class="recover-password">

    <div class="recover-password__container">

        <div class="recover-password__content">

            <h2>Recuperar contraseña</h2>

            <label for="email" id="email">Correo electrónico</label>
            <input type="text">
    
            <div id="forgotten-password" class="recover-password__container__forgotten-password"></div>

            <button class="recover-password__container__boton boton" id="recover-passwordin-button">Entrar</button>

        </div>

    </div>

</div>