<div class="selector-matricula">
    
    <div class="selector-matricula__contenedor">
        <h2 class="selector-matricula__contenedor__titulo">¿A qué curso te quieres matricular?</h2>
        <div class="selector-matricula__contenedor__botones">
            <button class="boton enviar">1º ESO</button>
            <button class="boton enviar">2º ESO</button>
            <button class="boton enviar">3º ESO</button>
            <button class="boton enviar">4º ESO</button>
            <button class="boton enviar">1º Bachillerato</button>
            <button class="boton enviar">2º Bachillerato</button>
            <button class="boton enviar">1º DAW a distancia</button>
            <button class="boton enviar">1º DAW</button>
            <button class="boton enviar">2º DAW</button>
            <button class="boton enviar">1º FP Básica</button>
            <button class="boton enviar">2º FP Básica</button>
            <button class="boton enviar">1º SMR</button>
            <button class="boton enviar">2º SMR</button>
        </div>
        
    </div>
   
</div>