<div class="selector-matricula">
  <div class="selector-matricula__contenedor">
    <div id="elegir-cursos">
      <h2 class="selector-matricula__contenedor__titulo">
        ¿A qué curso te quieres matricular?
      </h2>
      <div class="selector-matricula__contenedor__botones">
        <button
          class="boton enviar"
          *ngFor="let curso of cursos"
          (click)="elegirModalidad(curso.id)"
        >
          {{ curso.nombre }}
        </button>
      </div>
    </div>
    <div id="elegir-modalidades">
      <h2 class="selector-matricula__contenedor__titulo">
        Elige una modalidad
      </h2>
      <div class="selector-matricula__contenedor__botones">
        <button
          class="boton boton-modalidad"
          *ngFor="let modalidad of modalidades"
        >
          {{ modalidad.nombre }}
        </button>
        <div>
          <button class="boton" (click)="togglemodalidades()">
            Volver atrás
          </button>
        </div>
        
      </div>
    </div>
  </div>
</div>
