<div>
    <img src="assets/img/single_user.png" id="icon" alt="User Icon" />
  </div>
  <form>
    <input type="text" name="email" [(ngModel)]="usuario.usuario">
    <div>
      <label class="validation-message">Invalid email address.</label>
    </div>
    <input type="password" name="password" [(ngModel)]="usuario.passwd">
    <div>
      <label class="validation-message">Minimum 4 characters.</label>
    </div>
    <input type="submit" (click)="logIn()" value="Sign In">
  </form>
  <!-- Error message -->
<div class="alert">
    
  </div>
