.user {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "matriculas datos";
    &__lista-matriculas {
        grid-area: matriculas;
    }
    &__datos {
        grid-area: datos;
        padding: var(--spacer-6);
        height: min-content;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        &__contenedor-campos {
            margin-bottom: var(--spacer-8);
        }
        &__contenedor-botones {
            display: flex;
            justify-content: space-evenly;
        }
        button {
            width: 8rem;
        }
    }
    &__crear-matricula {
        width: 100%;
        display: flex;
        justify-content: center;
        &__boton {
            width: 60%;
            margin-left: 0;
            margin-right: 0;

            @media (max-width: 1100px) {
                margin-bottom: 0;
            }
        }
    }
    @media (max-width: 1100px) {
        grid-auto-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "datos" "matriculas";
    }
}

.crear-matricula-boton {
    @media (max-width: 1100px) {
        
    }
}