.user {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "matriculas datos";
    &__lista-matriculas {
        grid-area: matriculas;
    }
    &__datos {
        grid-area: datos;
        padding: var(--spacer-6);
        height: min-content;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        &__contenedor-campos {
            margin-bottom: var(--spacer-8);
        }
        &__contenedor-botones {
            display: flex;
            justify-content: space-evenly;
        }
        button {
            width: 8rem;
        }
        @media (max-width: 970px) {
            &__contenedor-botones {
                justify-content: space-between;
            }
            button {
                width: 7rem;
            }
        }
    }
    &__crear-matricula {
        padding-bottom: var(--spacer-8);
        display: flex;
        justify-content: space-between;
        margin: var(--spacer-8);
        
        &__boton {
            width: 100%;
            margin: 0;
            box-shadow: none;
            @media (max-width: 1100px) {
                margin-bottom: 0;
            }
        }
        &__select {
            cursor: pointer;
            color: var(--color-primary);
            border: 2px solid var(--color-primary);
            width: 45%;
            height: var(--spacer-8);
            border-radius: 31px;
            padding: 0px var(--spacer-3);
            -webkit-appearance: none;
            -moz-appearance: none;
            text-indent: 1px;
            text-overflow: '';
            background-color: transparent;
            font-weight: bold;
            text-align: center;
            background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='50' viewBox='0 0 25 25' width='30' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
            background-repeat: no-repeat;
            background-position-x: 95%;
            background-position-y: 5px;
            &:focus {
                border-radius: 31px 31px 0 0;
                outline: none;
                border-bottom: none; 
            }
        }
        @media (max-width: 970px) {
            flex-direction: column;
            padding: var(--spacer-3);
            gap: var(--spacer-3);
            &__select {
                width: 100%;
            }
            &__boton {
                width: 100%;
            }

        }
    }
    @media (max-width: 1100px) {
        grid-auto-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "datos" "matriculas";
    }
}

option {
    background-color: transparent
}

.crear-matricula-boton {
    @media (max-width: 1100px) {
        
    }
}

.modal-usuario {
    position: fixed;
    top: 0;
    left: 0;
    background-color:rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 1000000;
    display: flex;
    justify-content: center;
    align-items: center;
    &__contenedor {
        padding: var(--spacer-6);
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        background-color: var(--color-light);
        width: 400px;
        min-height: 300px;
        border-radius: var(--border-radius);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        &__botones {
            margin-top: var(--spacer-3);
            width: 100%;
            display: flex;
            justify-content: space-around;
            button {
                width: 7rem;
            }
        }
        @media (max-width: 970px) {
            position: fixed;
            justify-content: space-between;
            bottom: 0;
            left: 0;
            width: 100%;
            min-height: 30%;
            border-radius: var(--border-radius) var(--border-radius) 0 0;
            p {
                margin-bottom: auto;
            }
        }
    }
}

.notificacion-datos {
    z-index: 100;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: var(--spacer-3);
    background-color: var(--color-light);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    transition: all 0.4s ease;
    opacity: 0;
    color: var(--color-font-dark) !important;
}