<div class="bloque autoriza-imagen">

    <h1>Autorización de imagen*</h1>

    <label class="campo autoriza-imagen__label" for="telefFaltas">
        <p>En los últimos tiempos es un hecho la inclusión de las nuevas tecnologías dentro de los medios didácticos al alcance de la comunidad escolar, así como la posibilidad de que puedan aparecer imágenes de nuestros alumnos y alumnas durante la realización de actividades escolares dentro y fuera del centro.</p>
        <p>Por otro lado, el derecho a la propia imagen está reconocido en el artículo 18 de la Constitución y el reglamento por la Ley 1/1982, de 5 de mayo, sobre el derecho al honor, la intimidad personal y familiar y a la propia imagen y la Ley 15/1999, de 13 de diciembre, sobre la Protección de Datos de Carácter Personal.</p>
        <p>En consecuencia, y en cumplimiento de la legislación preceptiva, la Dirección de este Centro solicita el consentimiento a los padres o tutores legales para poder publicar las imágenes de actividades académicas extraescolares fuera y dentro del centro en las cuales pueden aparecer individualmente o en grupo sus hijos e hijas menores de edad como alumnos del centro y miembros de nuestra comunidad educativa.</p>
        <p>A continuación, el padre, madre o tutor legal en caso de ser el alumno menor de edad o el alumno, si es mayor de edad, seleccione AUTORIZO o NO AUTORIZO.</p>


    <div class="autoriza-imagen__radios">
        <div class="radio">
            <input class="autoriza-imagen__input" type="radio" id="si" name="repite" value="si">
            <label class="autoriza-imagen__label" for="si">AUTORIZO</label>
        </div>
        <div class="radio">
            <input class="autoriza-imagen__input" type="radio" id="no" name="repite" value="no">
            <label class="autoriza-imagen__label" for="no">NO AUTORIZO</label>
        </div>
    </div>
    

        <p>al Centro a utilizar con fines pedagógicos las imágenes captadas durante la realización de actividades lectivas, complementarias y extraescolares organizadas desde el centro donde puedan aparecer y autorizar a que sean publicadas en:</p>

        <ul>
            <li>La página web y las cuentas de redes sociales del centro.</li>
            <li>Filmaciones determinadas a difusión educativa no comercial.</li>
            <li>Fotografías para revistas o publicaciones de ámbito educativo.</li>
            <li>Fotografías en prensa cuando la actividad realizada tenga la trascendencia para ser publicadas.</li>
        </ul>
    </label>
</div>