<div class="bloque autoriza-imagen">

    <h1>Autorización de imagen</h1>

    <label class="campo autoriza-imagen__label" for="telefFaltas"><strong>Textaco</strong></label>
    <div class="radio">
        <input class="autoriza-imagen__input" type="radio" id="si" name="repite" value="si">
        <label class="autoriza-imagen__label" for="si">Sí</label>
    </div>
    <div class="radio">
        <input class="autoriza-imagen__input" type="radio" id="no" name="repite" value="no">
        <label class="autoriza-imagen__label" for="no">No</label>
    </div>

</div>