<div class="footer">
    <div class="footer__bloque">
        <h3 class="footer__bloque__titulo"><i class="far fa-id-card"></i> Contacto</h3>
        <a href="https://goo.gl/maps/4yQtcBvMphF3jzbm6"><p class="footer__bloque__texto">C/ Maestro Pedro Pérez Abadía<br>
            30100 Espinardo (Murcia)<br>
            Teléfono: 968 83 46 05</p></a>
    </div>
    <div class="footer__bloque">
        <h3 class="footer__bloque__titulo"><i class="fas fa-link"></i> Enlaces</h3>
        <ul class="footer__bloque__lista">
            <li><a href="https://www.educarm.es/home">Educarm</a></li>
            <li><a href="http://www.carm.es/educacion">Consejería Educación</a></li>
            <li><a href="https://mirador.murciaeduca.es/GICPadres/">Mirador</a></li>
            <li><a href="http://aulavirtual.murciaeduca.es/">Aula Virtual</a></li>
        </ul>
    </div>
    <div class="footer__bloque">
        <h3 class="footer__bloque__titulo"><i class="fas fa-globe-europe"></i> Erasmus</h3>
        <p class="footer__bloque__texto"><a href="http://www.iesjoseplanes.es/proyecto-erasmus/">Proyecto Erasmus</a></p>
    </div>
</div>