.datos-academicos {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    &__contenedor-materias {
        margin-top: var(--spacer-5);
        width: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
        display:block;

        height: 100%;
        &__half{
            

            &__sorter-icon {
                width: 20px;
                float: right;
            }
        }
        
    }
    
    &__separator {
        margin-top: var(--spacer-4);
    }
    &__radio {
        margin-top: var(--spacer-1);
    }
    h3 {
        margin-top: var(--spacer-8);
    }
    @media (max-width: 970px) { 
        &__contenedor-materias {
            grid-template-rows: 50% 50%;
            grid-template-columns: unset;
        }
    }
}
.sorter {
    margin-top: var(--spacer-8);
}
.order-input {
    width: 30px;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    -moz-appearance:textfield;
}
.materias-optativas {
    li {
        list-style: none;
    }
    padding: 0;
}

.materias-cursa {
    margin-bottom: var(--spacer-6);
}
/* 
.draggable-list {
    border: 1px solid var(--color-dark);
    color: var(--color-font-dark);
    padding: 0;
    list-style-type: none;

}
.draggable-list li {
    background-color: var(--color-light);
    display: flex;
    flex: 1;
}
.draggable-list li:not(:last-of-type) {
    border-bottom: 1px solid var(--color-dark);
}
.numero-materia {
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    font-size: 28px;
}

.draggable-list .nombre-materia {
    margin: 0 20px 0 0;
}

.draggable {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    flex: 1;
} */