
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$app-planes-primary: mat.define-palette(mat.$indigo-palette);
$app-planes-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$app-planes-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$app-planes-theme: mat.define-light-theme((
  color: (
    primary: $app-planes-primary,
    accent: $app-planes-accent,
    warn: $app-planes-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($app-planes-theme);

/* You can add global styles to this file, and also import other style files */

:root {

    // COLORES
    --color-primary: #3195d1;
/*     --color-primary-hover: #209deb; */
    --color-primary-hover: #2882b9;
    --color-primary-background: #d0edff;
    --color-light: #fff;
    --color-dark: #1E1E1E;
    --color-grey-1: #4c4c4c4c;
    --color-grey-2: #8e8e8e8e;
    --color-grey-3: #d8d8d88e;
    --color-font-dark: #000;
    --color-font-light: #fff;
    --color-warning: #D83F3F;
    --color-warning-soft: #fff1d2;

    // ESPACIADOS
    --spacer-1: 8px;
    --spacer-2: 16px;
    --spacer-3: 24px;
    --spacer-4: 32px;
    --spacer-5: 40px;
    --spacer-6: 48px;
    --spacer-7: 56px;
    --spacer-8: 64px;
    --spacer-9: 80px;
    --spacer-10: 100px;

    // BORDER RADIUS
    --border-radius: 48px;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url(assets/fonts/SourceSansPro.woff);
  }

@font-face {
font-family: 'Source Sans Pro';
src: url(assets/fonts/SourceSansPro.woff2);
}

*::selection {
    background-color: var(--color-primary-hover);
    color: var(--color-font-light);
}

html, body {
    margin: auto;
    padding: 0;
    background-color: var(--color-primary-background);
    font-family: 'Source Sans Pro', sans-serif !important;
    transition: 0.2s linear;
}

body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: var(--color-primary);
}


body.stop-scrolling {
  height: 100%;
  overflow: hidden;

}



input {
    transition: all 0.4s ease;
    &:disabled {
        background-color: var(--color-grey-3);
    }
}

input[type=text],
input[type=password],
input[type=date] {
    width: 100%;
    display: block;
    border-radius: var(--border-radius);
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    border: 1px solid var(--color-font-dark);
    padding-left: var(--spacer-2);
    padding-right: var(--spacer-2);
}

input[type=date] {
    padding-left: var(--spacer-2);
    padding-right: var(--spacer-2);
    height: var(--spacer-4);
}

input[type=text]:focus,
input[type=password]:focus, 
input[type=date]:focus {
    background-color: var(--color-primary-background);
    outline: none;
    transform: scale(1.03);
    box-shadow: 0 0 0 2px rgba(21, 156, 228, 0.4);
}

input[type=radio] {
    $widthRadio: 22px;
    width: $widthRadio; height: $widthRadio;
    border-radius: var(--border-radius);
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    border: 1px solid var(--color-font-dark);
}

input[type=checkbox]:not(.dark-mode__input) {
    $widthCheck: 22px;
    width: $widthCheck; height: $widthCheck;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    border: 1px solid var(--color-font-dark);
}

input[type=submit] {
    width: 25%;
    height: var(--spacer-8);
    border-radius: 50px;
    margin: var(--spacer-8);
    margin-top: 0;
    border: none;
    background-color: var(--color-primary);
    color: var(--color-font-light);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    &:hover {
        border: none;
        background-color: var(--color-primary-hover);
        color: var(--color-font-light);
    }
    &:focus {
        border: none;
        background-color: var(--color-font-light);
        color: var(--color-font-dark);
        box-shadow: inset rgba(0, 0, 0, 0.10) 0px 5px 15px;
    }
    @media (max-width: 970px) {
        margin-left: var(--spacer-2);
    }
}

.pc {
    @media (max-width: 970px) {
        display: none;
    }
}

.movil {
    font-size: .8em;
    font-style: italic;
    @media (min-width: 970px) {
        display: none;

    }
}

.titulo {
    margin-top: var(--spacer-8);
    text-align: center;
    @media (min-width: 1100px) {
        display: none;
    }
}

.texto-aviso {
    color: var(--color-warning);
}
.texto-primario {
    color: var(--color-primary-hover);
}

.bloque {
    background-color: var(--color-light);
    padding: var(--spacer-8);
    margin: var(--spacer-8);
    padding-bottom: var(--spacer-10);
    border-radius: var(--border-radius);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    label {   
        margin: var(--spacer-1);
        margin-bottom: 5px;
        margin-top: var(--spacer-2);
    }
    h1 {
        text-transform: uppercase;
        margin-bottom: var(--spacer-3);
    }
}

.bloque.primero {
    margin-top: var(--spacer-2);
}

.grupo {
    border: none;
    border-radius: var(--border-radius);
    padding: var(--spacer-5);
    margin-bottom: var(--spacer-5);
    margin-top: var(--spacer-5);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.campo {
    display: block;
}

.radio {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    input {
        &:checked {
            background-color: var(--color-primary);
            border: 5px solid white;
            outline: 1px solid black;
        }
    }
    label {
        margin: 0;
        margin-left: var(--spacer-1);
        margin-right: var(--spacer-2);
    }
}

.checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    margin-top: var(--spacer-1);
    input {
        &:checked {
            background-color: var(--color-primary);
            border: 5px solid white;
            outline: 1px solid black;
        }
    }
    label {
        margin: 0;
        margin-left: var(--spacer-1);
        margin-right: var(--spacer-2);
    }
}

.boton {
    border: 2px solid var(--color-primary);
    background-color: transparent;
    border-radius: 25px;
    color: var(--color-primary);
    padding: 10px;
    font-weight: bold;
    transition: all 0.4s ease;
}

.boton.eliminar {
    color: var(--color-warning);
    border-color: var(--color-warning);
    &:hover {
        background-color: var(--color-warning);
        border-color: var(--color-warning);
    }
}

.boton.enviar {
    color: var(--color-font-light);
    background-color: var(--color-primary);
    &:hover {
        background-color: transparent;
        color: var(--color-primary);
    }
}

.boton:hover {
    background-color: var(--color-primary-hover);
    border: 2px solid var(--color-primary-hover);
    color: var(--color-light);
}


.boton.apagado {
    color: var(--color-font-light) !important;
    border: none !important;
    background-color: var(--color-grey-1) !important;
    cursor: auto;
    &:hover {
        color: var(--color-font-light) !important;
        border: none !important;
        background-color: var(--color-grey-1) !important;
    }
}


.campo-25 {
    width: 25% !important;
}
.campo-50 {
    width: 50% !important;
}
.campo-75 {
    width: 75% !important;
}

@media (max-width: 970px) { 
    .bloque {
        padding: var(--spacer-4);
        padding-bottom: var(--spacer-7);
        margin-left: var(--spacer-1);
        margin-right: var(--spacer-1);
    }
    .campo-25 {
        width: 100% !important;
    }
    .campo-50 {
        width: 100% !important;
    }
    .campo-75 {
        width: 100% !important;
    }
}

body.dark {
    background-color: var(--color-dark);
    color: var(--color-font-light);
}
.bloque.dark {
    background-color: var(--color-grey-1);
    color: var(--color-font-light);
    input {
        background-color: var(--color-dark);
        color: var(--color-font-light);
        border: 1px solid var(--color-grey-3);
        &:focus {
            background-color: var(--color-grey-2);
            box-shadow: 0 0 0 2px var(--color-grey-2);
        }
        &::-webkit-calendar-picker-indicator {
            background: transparent;
        }
        &[type=radio], &[type=checkbox]:not(.dark-mode__input) {
            background-color: var(--color-dark);
            outline: 1px solid var(--color-grey-3) !important; 
        }
        &[type=radio]:checked,
        &[type=checkbox]:checked {
            border: 5px solid white !important;
        }
        &[type=submit] {
            background-color: #3195d1;
            border: none;
        }
        &[type=submit]:hover {
            background-color: var(--color-primary-hover);
            color: var(--color-font-light);
        }
        &:disabled {
            background-color: var(--color-grey-1);
            border: 1px solid var(--color-grey-2);
        }
    }
    button {
        color: var(--color-font-light);
    }
    select {
        color: var(--color-font-light);
    }
    
}
.modal-planes.dark {
    background: rgb(37, 37, 37) !important;
    opacity: 1;
}
