/* You can add global styles to this file, and also import other style files */

:root {

    // COLORES
    --color-primary: #3195d1;
/*     --color-primary-hover: #209deb; */
    --color-primary-hover: var(--color-primary);
    --color-primary-background: #d0edff;
    --color-light: #fff;
    --color-dark: #1E1E1E;
    --color-grey-1: #4c4c4c4c;
    --color-grey-2: #8e8e8e8e;
    --color-grey-3: #d8d8d88e;
    --color-font-dark: #000;
    --color-font-light: #fff;
    --color-warning: #D83F3F;

    // ESPACIADOS
    --spacer-1: 8px;
    --spacer-2: 16px;
    --spacer-3: 24px;
    --spacer-4: 32px;
    --spacer-5: 40px;
    --spacer-6: 48px;
    --spacer-7: 56px;
    --spacer-8: 64px;
    --spacer-9: 80px;
    --spacer-10: 100px;

    // BORDER RADIUS
    --border-radius: 48px;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url(assets/fonts/SourceSansPro.woff);
  }

@font-face {
font-family: 'Source Sans Pro';
src: url(assets/fonts/SourceSansPro.woff2);
}

*::selection {
    background-color: var(--color-primary-hover);
    color: var(--color-font-light);
}

html, body {
    margin: auto;
    padding: 0;
    background-color: var(--color-primary-background);
    font-family: 'Source Sans Pro', sans-serif;
    transition: 0.2s linear;
}

body.dark {
    background-color: var(--color-dark);
}
.bloque.dark {
    background-color: var(--color-grey-1);
    color: var(--color-font-light);
    input {
        background-color: var(--color-grey-1);
        color: var(--color-font-light);
        border: 1px solid var(--color-grey-2);
        &:focus {
            background-color: var(--color-grey-2);
            box-shadow: 0 0 0 2px var(--color-grey-2);
        }
        &::-webkit-calendar-picker-indicator {
            background: transparent;
        }
        &[type=radio], &[type=checkbox]:not(.dark-mode__input) {
            background-color: var(--color-grey-1);
        }
    }
}
.bloque.blanco {
    background-color: var(--color-light);
}

input {
    transition: all 0.4s ease;
}

input[type=text],
input[type=password],
input[type=date] {
    width: 100%;
    display: block;
    border-radius: var(--border-radius);
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    border: 1px solid var(--color-font-dark);
    padding-left: var(--spacer-2);
    padding-right: var(--spacer-2);
}

input[type=date] {
    padding-left: var(--spacer-2);
    padding-right: var(--spacer-2);
    height: var(--spacer-4);
}

input[type=text]:focus,
input[type=password]:focus, 
input[type=date]:focus {
    background-color: var(--color-primary-background);
    outline: none;
    transform: scale(1.03);
    box-shadow: 0 0 0 2px rgba(21, 156, 228, 0.4);
}

input[type=radio] {
    $widthRadio: 22px;
    width: $widthRadio; height: $widthRadio;
    border-radius: var(--border-radius);
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    border: 1px solid var(--color-font-dark);
}

input[type=checkbox]:not(.dark-mode__input) {
    $widthCheck: 22px;
    width: $widthCheck; height: $widthCheck;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    border: 1px solid var(--color-font-dark);
}

input[type=submit] {
    width: 25%;
    height: var(--spacer-8);
    border-radius: 50px;
    margin: var(--spacer-8);
    margin-top: 0;
    border: none;
    background-color: var(--color-primary-hover);
    color: var(--color-font-light);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    &:hover {
        border: none;
        background-color: var(--color-font-light);
        color: var(--color-font-dark);
    }
    &:focus {
        border: none;
        background-color: var(--color-font-light);
        color: var(--color-font-dark);
        box-shadow: inset rgba(0, 0, 0, 0.10) 0px 5px 15px;
    }
    @media (max-width: 970px) {
        margin-left: var(--spacer-2);
    }
}

.bloque {
    background-color: var(--color-light);
    margin: var(--spacer-8);
    padding: var(--spacer-8);
    padding-bottom: var(--spacer-10);
    border-radius: var(--border-radius);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    label {   
        margin: var(--spacer-1);
        margin-bottom: 5px;
        margin-top: var(--spacer-2);
    }
    h1 {
        text-transform: uppercase;
        margin-bottom: var(--spacer-3);
    }
}

.campo {
    display: block;
}

.radio {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    input {
        &:checked {
            background-color: var(--color-primary);
            border: 5px solid white;
            outline: 1px solid black;
        }
    }
    label {
        margin: 0;
        margin-left: var(--spacer-1);
        margin-right: var(--spacer-2);
    }
}

.checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    margin-top: var(--spacer-1);
    input {
        &:checked {
            background-color: var(--color-primary);
            border: 5px solid white;
            outline: 1px solid black;
        }
    }
    label {
        margin: 0;
        margin-left: var(--spacer-1);
        margin-right: var(--spacer-2);
    }
}

.boton {
    border: 2px solid var(--color-primary);
    background-color: transparent;
    border-radius: 25px;
    color: var(--color-primary);
    padding: 10px;
    font-weight: bold;
    transition: all 0.4s ease;
}

.boton.eliminar {
    color: var(--color-warning);
    border-color: var(--color-warning);
    &:hover {
        background-color: var(--color-warning);
        border-color: var(--color-warning);
    }
}

.boton.enviar {
    color: var(--color-font-light);
    background-color: var(--color-primary);
    &:hover {
        background-color: transparent;
        color: var(--color-primary);
    }
}

.boton:hover {
    background-color: var(--color-primary-hover);
    border: 2px solid var(--color-primary-hover);
    color: var(--color-light);
}


.boton.apagado {
    color: var(--color-font-light) !important;
    border: none !important;
    background-color: var(--color-grey-1) !important;
    cursor: auto;
    &:hover {
        color: var(--color-font-light) !important;
        border: none !important;
        background-color: var(--color-grey-1) !important;
    }
}


.campo-25 {
    width: 25% !important;
}
.campo-50 {
    width: 50% !important;
}
.campo-75 {
    width: 75% !important;
}

@media (max-width: 970px) { 
    .bloque {
        padding: var(--spacer-4);
        padding-bottom: var(--spacer-7);
        margin-left: var(--spacer-2);
        margin-right: var(--spacer-2);
    }
    .campo-25 {
        width: 100% !important;
    }
    .campo-50 {
        width: 100% !important;
    }
    .campo-75 {
        width: 100% !important;
    }
}

@media (min-width: 700px) { 
}