<div class="bloque datos-familiares">

    <h1>Datos familiares</h1>

    <div class="tutor1 grupo">
        <h3>Tutor 1</h3>

        <label class="campo datos-familiares__label" for="apellidosTutor1"><strong>Apellidos</strong></label>
        <input class="campo datos-familiares__input" type="text" name="apellidosTutor1" id="apellidosTutor1" required>
        
        <label class="campo datos-familiares__label" for="nombreTutor1"><strong>Nombre</strong></label>
        <input class="campo datos-familiares__input" type="text" name="nombreTutor1" id="nombreTutor1" required>

        <label class="campo datos-familiares__label" for="emailTutor1"><strong>Correo Electrónico</strong></label>
        <input class="campo datos-familiares__input" type="text" name="emailTutor1" id="emailTutor1" required>
        
        <label class="campo datos-familiares__label" for="nifTutor1"><strong>NIF</strong></label>
        <input class="campo datos-familiares__input" type="text" name="nifTutor1" id="nifTutor1" required>

        <label class="campo datos-familiares__label" for="telefTutor1"><strong>Teléfono</strong></label>
        <input class="campo datos-familiares__input" type="text" name="telefTutor1" id="telefTutor1" required>
    </div>

    <div class="tutor2 grupo">
        <h3>Tutor 2</h3>

        <label class="campo datos-familiares__label" for="apellidosTutor2"><strong>Apellidos</strong></label>
        <input class="campo datos-familiares__input" type="text" name="apellidosTutor2" id="apellidosTutor2" required>
        
        <label class="campo datos-familiares__label" for="nombreTutor2"><strong>Nombre</strong></label>
        <input class="campo datos-familiares__input" type="text" name="nombreTutor2" id="nombreTutor2" required>

        <label class="campo datos-familiares__label" for="emailTutor2"><strong>Correo Electrónico</strong></label>
        <input class="campo datos-familiares__input" type="text" name="emailTutor2" id="emailTutor2" required>
        
        <label class="campo datos-familiares__label" for="nifTutor2"><strong>NIF</strong></label>
        <input class="campo datos-familiares__input" type="text" name="nifTutor2" id="nifTutor2" required>

        <label class="campo datos-familiares__label" for="telefTutor2"><strong>Teléfono</strong></label>
        <input class="campo datos-familiares__input" type="text" name="telefTutor2" id="telefTutor2" required>
    </div>

        <label class="campo datos-alumno__label" for="telefFaltas"><strong>Teléfono móvil para control de faltas</strong></label>
        <div class="radio">
            <input type="radio" id="tutor1" name="tutor" value="tutor1">
            <label for="tutor1">Tutor 1</label>
        </div>
        <div class="radio">
            <input type="radio" id="tutor1" name="tutor" value="tutor1">
            <label for="tutor1">Tutor 2</label>
        </div>  
    
</div>