
<div class="adminpanel">
  <h1>PANEL DE ADMINISTRADOR</h1>
  
  <div class="adminpanel__select-container">
    <h3>Filtrar:</h3>
    <select name="" id="cursoid" (change)="getModalidadesByCurso()" [(ngModel)]="selectedOption" >
      <option value="" disabled selected >Cursos</option>
      <option *ngFor="let curso of cursos" value="{{ curso.id }}">{{ curso.nombre }}</option>
    </select>
    <select name="" id="" (change)="filtrarMatriculas()" [(ngModel)]="selectedOption2" >
      <option value="" disabled selected>Modalidades</option>
      <option *ngFor="let modalidad of modalidades" value="{{ modalidad.id }}">{{ modalidad.nombre }}</option>
    </select>
    <button class="boton" alt="Ver matrícula" (click)="resetFilters()">Reset filters</button>
  </div>
  <div class="adminpanel__tabla">
  
    <table
      datatable
      [dtOptions]="dtOptions"
      [dtTrigger]="dtTrigger"
      class="row-border hover"
    >
      <thead>
        <tr>
          <th>Nº Matrícula</th>
          <th>Nombre</th>
          <th>Apellidos</th>
          <th>Curso</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let matricula of matriculas">
          <td>{{ matricula.id }}</td>
          <td>{{ matricula.nombre}}</td>
          <td>{{ matricula.papellido }} {{ matricula.sapellido }}</td>
          <td>{{ matricula.curso.nombre }}</td>
          <td><button class="boton fas fa-eye" alt="Ver matrícula"></button></td>
        </tr>
      </tbody>
    </table>
  </div>
  
</div> 
