<div class="adminpanel">
  <div class="adminpanel__tabla">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"  class="row-border hover">
      <thead>
        <tr>
          <th>Nº Matrícula</th>
          <th>Nombre</th>
          <th>Apellidos</th>
          <th>Curso</th>
        </tr>
      </thead>
      <tbody>         
        <!-- <tr *ngFor="let matricula of matriculas">
          <td>{{matricula.id}}</td>
          <td>{{matricula.user.username}}</td>
          <td>{{matricula.user.username}}</td>
          <td>{{matricula.curso.nombre}}</td>
        </tr> -->
        <tr>
          <td>hola</td>
          <td>hola</td>
          <td>hola</td>
          <td>hola</td>
        </tr>
        <tr>
          <td>hola</td>
          <td>hola</td>
          <td>hola</td>
          <td>hola</td>
        </tr>
        <tr>
          <td>hola</td>
          <td>hola</td>
          <td>hola</td>
          <td>hola</td>
        </tr>
        <tr>
          <td>hola</td>
          <td>hola</td>
          <td>hola</td>
          <td>hola</td>
        </tr>
        <tr>
          <td>hola</td>
          <td>hola</td>
          <td>hola</td>
          <td>hola</td>
        </tr>
        <tr>
          <td>hola</td>
          <td>hola</td>
          <td>hola</td>
          <td>hola</td>
        </tr>
        <tr>
          <td>hola</td>
          <td>hola</td>
          <td>hola</td>
          <td>hola</td>
        </tr>
        <tr>
          <td>hola</td>
          <td>hola</td>
          <td>hola</td>
          <td>hola</td>
        </tr>
        <tr>
          <td>hola</td>
          <td>hola</td>
          <td>hola</td>
          <td>hola</td>
        </tr>
        <tr>
          <td>hola</td>
          <td>hola</td>
          <td>hola</td>
          <td>hola</td>
        </tr>
        <tr>
          <td>hola</td>
          <td>hola</td>
          <td>hola</td>
          <td>hola</td>
        </tr>
        <tr>
          <td>hola</td>
          <td>hola</td>
          <td>hola</td>
          <td>hola</td>
        </tr>
        <tr>
          <td>hola</td>
          <td>hola</td>
          <td>hola</td>
          <td>hola</td>
        </tr>
        <tr>
          <td>hola</td>
          <td>hola</td>
          <td>hola</td>
          <td>hola</td>
        </tr>
        <tr>
          <td>hola</td>
          <td>hola</td>
          <td>hola</td>
          <td>hola</td>
        </tr>
        <tr>
          <td>hola</td>
          <td>hola</td>
          <td>hola</td>
          <td>hola</td>
        </tr>
        
      </tbody>
    </table>
  </div>
  
</div>
  