<div class="sign">

    <div class="sign__container">
        <div class="sign__content">
            <h2>Registro</h2>

            <label for="email" id="email">Correo electrónico</label>
            <input type="text"/>
    
            <label for="password" id="password">Contraseña</label>
            <input type="password"/>
    
            <label for="confirm-password" id="confirm-password">Confirmar contraseña</label>
            <input type="password"/>
    
            <button class="sign__container__boton boton" id="signup-button">Crear cuenta</button>
    
            <div class="sign__container__sign-link">
                <span>¿Ya tienes una cuenta?</span>
                <span>Inicia sesión <a class="sign__container__sign-link__link" href="/signin">aquí</a></span>
            </div>
        </div>
        
        
    </div>

</div>