<div class="bloque autorizacion-salida">
    <h1>Autorización de salida</h1>

    <p><strong>Modelo de autorización para la salida del centro a las 13:20 horas (final de quinta hora) en caso de ausencia del profesor de la última clase de la mañana</strong></p>

    <p><strong>Doy mi autorización</strong> para que mi hijo o hija abandone el centro a las 13:20 horas sólo y exclusivamente en el caso de ausencia del profesor de la última clase.</p>


    <div class="autorizacion-salida__bloque">
        <label for="tutorAutorizaSalida">Autorizan:</label>

        <div class="autorizacion-salida__checkbox checkbox">
            <input type="checkbox" id="tutor1AutorizaSalida" name="autorizaSalida" value="tutor1AutorizaSalida">
            <label for="tutorAutorizaSalida">Tutor 1</label>
        </div>

        <div class="autorizacion-salida__checkbox checkbox">
            <input type="checkbox" id="tutor2AutorizaSalida" name="autorizaSalida" value="tutor2AutorizaSalida">
            <label for="tutorAutorizaSalida">Tutor 2</label>
        </div>
    </div>


    <div class="autorizacion-salida__bloque">
        <label for="firmaTutor1"><strong>Sube la firma del Tutor 1:</strong></label>

        <input type="file" class="subir-archivo"
            id="firmaTutor1" name="firmaTutor"
            accept="image/png, image/jpeg">


        <label for="firmaTutor2"><strong>Sube la firma del Tutor 2:</strong></label>

        <input type="file" class="subir-archivo"
            id="firmaTuto2" name="firmaTutor"
            accept="image/png, image/jpeg">

    </div>

</div>