<div class="bloque datos-alumno">

<label class="campo datos-alumno__label" for="apellidos"><strong>Apellidos*</strong></label>
<input class="campo datos-alumno__input" type="text" name="apellidos" id="apellidos" required>

<label class="campo datos-alumno__label" for="nombre"><strong>Nombre*</strong></label>
<input class="campo datos-alumno__input" type="text" name="nombre" id="nombre" required>

<label class="campo datos-alumno__label" for="nif"><strong>NIF*</strong></label>
<input class="campo datos-alumno__input" type="text" name="nif" id="nif" required>

<label class="campo datos-alumno__label" for="direccion"><strong>Dirección*</strong></label>
<input class="campo datos-alumno__input" type="text" name="direccion" id="direccion" required>

<label class="campo datos-alumno__label" for="localidad"><strong>Localidad*</strong></label>
<input class="campo datos-alumno__input" type="text" name="localidad" id="localidad" required>

<label class="campo datos-alumno__label" for="provincia"><strong>Provincia*</strong></label>
<input class="campo datos-alumno__input" type="text" name="provincia" id="provincia" required>

<label class="campo datos-alumno__label" for="cp"><strong>CP*</strong></label>
<input class="campo datos-alumno__input" type="text" name="cp" id="cp" required>

<label class="campo datos-alumno__label" for="telef"><strong>Teléfono*</strong></label>
<input class="campo datos-alumno__input" type="text" name="telef" id="telef" required>

<label class="campo datos-alumno__label" for="fechaNac"><strong>Fecha de nacimiento*</strong></label>
<input class="campo datos-alumno__input" type="text" name="fechaNac" id="fechaNac" required>

<label class="campo datos-alumno__label" for="lugarNac"><strong>Lugar de nacimiento*</strong></label>
<input class="campo datos-alumno__input" type="text" name="lugarNac" id="lugarNac" required>

<label class="campo datos-alumno__label" for="provinciaNac"><strong>Provincia*</strong></label>
<input class="campo datos-alumno__input" type="text" name="provinciaNac" id="provinciaNac" required>

<label class="campo datos-alumno__label" for="email"><strong>Correo Electrónico*</strong></label>
<input class="campo datos-alumno__input" type="text" name="email" id="email" required>

<label class="campo datos-alumno__label" for="nuss"><strong>NUSS*</strong></label>
<input class="campo datos-alumno__input" type="text" name="nuss" id="nuss" required>

</div>