<div class="bloque matricula-item">
    <div class="matricula-item__info">
        <dl>
            <dt>Nombre y apellidos</dt>
            <dd>Vicente Martínez Rodríguez</dd>
        
            <dt>NIF/NIE</dt>
            <dd>49192904B</dd>
        
            <dt>Curso</dt>
            <dd>1º ESO</dd>
        
            <dt>Fecha de creación</dt>
            <dd>30/11/2021 19:35</dd>
        </dl>
    </div>
    
    <div class="matricula-item__botones">
        <button class="boton enviar">Enviar al centro</button>
        <button class="boton">Descargar en PDF</button>
        <button class="boton eliminar">Eliminar</button>
    </div>

</div>
<div class="bloque matricula-item">
    <div class="matricula-item__info">
        <dl>
            <dt>Nombre y apellidos</dt>
            <dd>Vicente Martínez Rodríguez</dd>
        
            <dt>NIF/NIE</dt>
            <dd>49192904B</dd>
        
            <dt>Curso</dt>
            <dd>1º ESO</dd>
        
            <dt>Fecha de creación</dt>
            <dd>30/11/2021 19:35</dd>
        </dl>
    </div>
    
    <div class="matricula-item__botones">
        <button class="boton enviar">Enviar al centro</button>
        <button class="boton">Descargar en PDF</button>
        <button class="boton eliminar">Eliminar</button>
    </div>

</div>

<div class="bloque matricula-item">
    <div class="matricula-item__info">
        <dl>
            <dt>Nombre y apellidos</dt>
            <dd>Vicente Martínez Rodríguez</dd>
        
            <dt>NIF/NIE</dt>
            <dd>49192904B</dd>
        
            <dt>Curso</dt>
            <dd>1º ESO</dd>
        
            <dt>Fecha de creación</dt>
            <dd>30/11/2021 19:35</dd>
        </dl>
    </div>
    
    <div class="matricula-item__botones">
        <button class="boton enviar">Enviar al centro</button>
        <button class="boton">Descargar en PDF</button>
        <button class="boton eliminar">Eliminar</button>
    </div>

</div>

