.matricula-item {
    padding: var(--spacer-4);
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    overflow: hidden;
    dt {
        margin: 0;
        font-size: 0.9em;
    }
    dd {
        margin: 0;
        margin-left: var(--spacer-2);
        font-size: 1.2em;
    }
    &__botones {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        button {
            width: 10rem;
        }
    }
    &__id {
        color: var(--color-grey-2);
        position: absolute;
        top: var(--spacer-3);
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.enviado-mensaje {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120%;
    height: 60px;
    background-color: var(--color-grey-2);
    opacity: .5;
    transform: translateX(-50%) translateY(-50%) rotate(-15deg);
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.modal-matricula {
    position: fixed;
    top: 0;
    left: 0;
    background-color:rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 1000000;
    display: none;
    justify-content: center;
    align-items: center;
    &__contenedor {
        padding: var(--spacer-6);
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        background-color: var(--color-light);
        width: 400px;
        min-height: 300px;
        border-radius: var(--border-radius);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        &__botones {
            margin-top: var(--spacer-3);
            width: 100%;
            display: flex;
            justify-content: space-around;
            button {
                width: 7rem;
            }
        }
        @media (max-width: 970px) {
            position: fixed;
            justify-content: space-between;
            bottom: 0;
            left: 0;
            width: 100%;
            min-height: 30%;
            border-radius: var(--border-radius) var(--border-radius) 0 0;
            p {
                margin-bottom: auto;
            }
        }
    }
}