.matricula-item {
    padding: var(--spacer-4);
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    dt {
        margin: 0;
        font-size: 0.9em;
    }
    dd {
        margin: 0;
        margin-left: var(--spacer-2);
        font-size: 1.2em;
    }
    &__botones {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        button {
            width: 10rem;
        }
    }
    &__id {
        color: var(--color-grey-2);
        position: absolute;
        top: var(--spacer-3);
        left: 50%;
        transform: translate(-50%, -50%);
    }
}