<div class="bloque matricula-item">
    <div class="enviado-mensaje" *ngIf="enviada">
        <h3>ENVIADA</h3>
    </div>
    <div class="matricula-item__info">
        <dl>
            <dt>Nombre y apellidos</dt>
            <dd>{{matriculaUser.user.Nombre}} {{matriculaUser.user.Papellido}} {{matriculaUser.user.Sapellido}}</dd>
        
            <dt>NIF/NIE</dt>
            <dd>{{matriculaUser.user.DNI}}</dd>
        
            <dt>Curso</dt>
            <dd>{{matriculaUser.curso.nombre}}</dd>
        
            <dt>Fecha de creación</dt>
            <dd>{{matriculaUser.created_at}}</dd>
        </dl>
    </div>
    <span class="matricula-item__id">Nº {{matriculaUser.id}}</span>
    <div class="matricula-item__botones">
        <button (click)="openModal()" class="boton enviar" [ngClass]="{'apagado': enviada == true}">Enviar al centro</button>
        <button class="boton" [ngClass]="{'apagado': enviada == true}">Editar matrícula</button>
        <button class="boton eliminar" [ngClass]="{'apagado': enviada == true}">Eliminar</button>
    </div>
</div>