.matricula {
    margin: auto;
    width: 100%;
}



@media (min-width: 970px) { 
    .matricula {
        width: 1000px;
    }

}

@media (max-width: 970px) { 
    .guardar-matricula-boton {
        width: 15rem;
    }
}