.matricula {
    margin: auto;
    width: 100%;
    &__indicacion {
        margin: var(--spacer-8);
        margin-left: var(--spacer-10);
        margin-bottom: 0;
        margin-top: 0;
        font-size: 18px;
    }
    &__titulo {
        font-size: 4em;
        text-align: center;
        margin: var(--spacer-6);
    }
}



@media (min-width: 970px) { 
    .matricula {
        width: 1000px;
    }

}

@media (max-width: 970px) { 
    .guardar-matricula-boton {
        width: 15rem;
    }
}