<div class="matricula">
    <form autocomplete="off">
    <app-datos-alumno></app-datos-alumno>
    <app-datos-familiares></app-datos-familiares>
    <app-datos-academicos></app-datos-academicos>
    <app-autorizacion-imagen></app-autorizacion-imagen>
    <app-enfermedades></app-enfermedades>
    <app-autorizacion-salida></app-autorizacion-salida>
    <app-autorizacion-datos-personales></app-autorizacion-datos-personales>
    <input type="submit" value="Guardar matrícula" class="boton guardar-matricula-boton">
    </form>
</div>