<div class="matricula">
    <h1 class="matricula__titulo">1º ESO</h1>
    <p class="matricula__indicacion">Los campos con * son obligatorios</p>
    <form autocomplete="off" >
    <app-datos-alumno></app-datos-alumno>
    <app-datos-familiares></app-datos-familiares>
    <app-datos-academicos></app-datos-academicos>
    <app-autorizacion-imagen></app-autorizacion-imagen>
    <app-enfermedades></app-enfermedades>
    <app-autorizacion-salida></app-autorizacion-salida>
    <app-autorizacion-datos-personales></app-autorizacion-datos-personales>
    <input type="submit" value="Guardar matrícula" class="boton guardar-matricula-boton">
    </form>
</div>