<div class="bloque enfermedades">

    <h1>Enfermedades*</h1>

    <label class="campo enfermedades__label"><strong>¿Padece su hijo, hija de alguna enfermedad que pueda desencadenar algún tipo de incidencia clínica durante el horario escolar?</strong></label>

    <div style="display: flex; margin-top: var(--spacer-2);">
        <div class="radio">
            <input type="radio" id="siEnfermedad" name="enfermedad" value="siEnfermedad">
            <label for="siEnfermedad">Sí</label>
        </div>
        <div class="radio">
            <input type="radio" id="noEnfermedad" name="enfermedad" value="noEnfermedad">
            <label for="noEnfermedad">No</label>
        </div>
    </div>

    <label>En caso de haber contestado SI rogamos soliciten en Conserjería los anexos I, II y III. Dicha información será tratada con la máxima discreción.</label>
</div>